html { 
    background: url(ondas.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body
        {
        margin-left: 10px;
        background: none;
        color: black;
            
        }*

.container {
        text-align:center;
        width:550px;
        font-weight:bold;
        flex:auto
        /*margin-top:100px;*/
        }

.container2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

h1 {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        color: blue;
}

h3{
        font-size: 20px;
        font-weight: bold;
}

.error{
        color: red;
    }

.iconoayuda{
        height: 25px;
        width: 25px;
}

.encabezado{

    text-align: center;
    align-items: center;
}

.etiqueta{
    color:blue;
}

.final{
    margin-top: 20px;
}
	   
.edicion{
    color: green;
    text-align: left;
}

.usuario{
    color:red;
    /*font-weight: bold;*/
}